<h2>Contact Edit Page</h2>

<%= form_tag "/contacts/#{@name.id}", method: :patch do %>

<div>
  <%= label_tag :"Full Name" %>
  <%= text_field_tag :name, @name.name %>
</div>

<div>
  <%= label_tag :"Middle Name" %>
  <%= text_field_tag :middle_name %>
  </div>

<div>
  <%= label_tag :"email Address" %>
  <%= text_field_tag :email_address, @name.email_address %>
</div>

<div>
  <%= label_tag :"address" %>
  <%= text_field_tag :address %>
  </div>

<div>
  <%= label_tag :"mobile Number" %>
  <%= text_field_tag :mobile_number, @name.mobile_number %>
</div>

<div>
  <%= label_tag :"bio" %>
  <%= text_field_tag :bio, @name.bio %>
</div>

<div>
<%= submit_tag "Edit contact" %>
</div>

<% end %>