<h2>Create a new  contact</h2>

<%= form_tag '/contacts', method: :post do %>
  <div>
  <%= label_tag :"Full Name" %>
  <%= text_field_tag :name %>
  </div>

  <div>
  <%= label_tag :"email Address" %>
  <%= text_field_tag :email_address %>
  </div>

  <div>
  <%= label_tag :"mailing Address" %>
  <%= text_field_tag :mailing_address %>
  </div>

  <div>
  <%= label_tag :"mobile Number" %>
  <%= text_field_tag :mobile_number %>
  </div>

  <div>
  <%= label_tag :"notes" %>
  <%= text_field_tag :notes %>
  </div>

  <div>
  <%= submit_tag "Add new contact" %>
  </div>

<% end %>