<h2>Single Contact View</h2>

  <h2><%= @name.name %>
<br>
<%= @name.email_address %>
<br>
<%= @name.mailing_address %>
<br>
<%= @name.jpn_prefix_number %>
<br>
<%= @name.notes %>
</h2>

<h4> Last updated: <%= @name.friendly_updated_at %></h4>

<%= link_to "Edit this contact", "/contacts/#{@name.id}/edit" %>

</br>

<%= link_to "Delete this contact", "/contacts/#{@name.id}", method: :delete %>